## Import packages

In [1]:
import pandas as pd

## Load data files

In [2]:
# Load train.csv file
train_df = pd.read_csv('train.csv')

# Load test.csv file
test_df = pd.read_csv('test.csv')

## Data summary

In [3]:
# Concise summary of train_df dataframe
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7939 entries, 0 to 7938
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Context     4381 non-null   object
 1   Utterance   7939 non-null   object
 2   Paraphrase  7939 non-null   object
dtypes: object(3)
memory usage: 186.2+ KB

In [4]:
# Display first five rows of train_df
train_df.head(5)

,Context,Utterance,Paraphrase
0,I really love you.,Say it again.,Could you please repeat that?
1,Sorry I asked.,Give me a hand.,Could you please assist me?
2,NaN,My foot!,"Oh dear, my foot!"
3,My foot!,You!,"Excuse me, may I have your attention please?"
4,I'm just so tired of this whole scene.,Why don't you just let him sleep it off here i...,Would it be alright if he rested in the truck ...

In [5]:
# Concise summary of test_df dataframe
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Context     594 non-null    object
 1   Utterance   1120 non-null   object
 2   Paraphrase  1120 non-null   object
dtypes: object(3)
memory usage: 26.4+ KB

In [6]:
test_df.head(5)

,Context,Utterance,Paraphrase
0,NaN,So why don't we just arrest her?,Perhaps it would be best to consider taking le...
1,So why don't we just arrest her?,The point is to let her escape so she brings u...,Perhaps it would be more beneficial to allow h...
2,NaN,"""It must be tough on you to have a client like...",I can imagine that it may be challenging for y...
3,"""It must be tough on you to have a client like...",What turned you into such a difficult man?,"I'm curious, what led to you becoming a challe..."
4,"""Mine, Peter.""","""Strike, Peter.""","""Peter, would you mind if I had a turn?"""

The "Context" column in both train_df and test_df has NaN values. To address this, replace the NaN values with an empty string as shown below.

In [7]:
# Convert NaN to empty strings ""
train_df = train_df.fillna("")
test_df = test_df.fillna("")

In [8]:
# Concise summary of train_df dataframe
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7939 entries, 0 to 7938
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Context     7939 non-null   object
 1   Utterance   7939 non-null   object
 2   Paraphrase  7939 non-null   object
dtypes: object(3)
memory usage: 186.2+ KB

In [9]:
# Concise summary of test_df dataframe
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Context     1120 non-null   object
 1   Utterance   1120 non-null   object
 2   Paraphrase  1120 non-null   object
dtypes: object(3)
memory usage: 26.4+ KB